<nav class="navbar navbar-expand-lg role-navbar">
  <div class="container">

    <a class="navbar-brand" href="company-dashboard.html">
      <img src="assets/images/logo.png" alt="Logo">
      Company Panel
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#companyNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="companyNavbar">
      <ul class="navbar-nav mx-auto align-items-center">

        <li class="nav-item"><a class="nav-link" href="company-dashboard.html">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="add-job.html">Add Job</a></li>
        <li class="nav-item"><a class="nav-link" href="company-jobs.html">My Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="applicants.html">Applicants</a></li>
        <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>

        <li class="nav-item">
          <button class="logout-btn ms-3" onclick="logout()">Logout</button>
        </li>

      </ul>
    </div>

  </div>
</nav>
