<nav class="navbar navbar-expand-lg role-navbar">
  <div class="container">

    <a class="navbar-brand" href="student-dashboard.html">
      <img src="assets/images/cop.jpeg" alt="Logo">
     
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#studentNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="studentNavbar">
      <ul class="navbar-nav mx-auto align-items-center">

    
        <li class="nav-item"><a class="nav-link" href="student_courses.html">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="recommendents.html">Recommended</a></li>
        <li class="nav-item"><a class="nav-link" href="jobs.html">Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="applications.html">Applications</a></li>
        <li class="nav-item"><a class="nav-link" href="student_dashboard.html">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="student-profile.html">Profile</a></li>

        <li class="nav-item">
          <button class="logout-btn ms-3" onclick="logout()">Logout</button>
        </li>

      </ul>
    </div>

  </div>
</nav>
